* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

.card-image__front .card-details h2 {
  font-size: 2.7rem;
  letter-spacing: 0.2rem;
  color: white;
  margin-bottom: 1.5rem; }

.card-image__front .card-details .card-user {
  color: white;
  font-size: 1.2rem;
  font-weight: bold; }

.card-image__back p {
  margin: 0 auto;
  margin-right: 7rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white; }

.card-info {
  font-family: "Red Hat Display", sans-serif; }
  .card-info .text-name {
    color: #21092f;
    font-weight: bold; }
  .card-info input {
    height: 7vh;
    background-color: whitesmoke;
    width: 100%;
    border: 1px solid #8e8593;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    cursor: pointer;
    backface-visibility: hidden; }
    .card-info input:focus {
      outline: none !important;
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right, #6448fe, #600594);
      border-radius: 3rem; }
  .card-info p {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #ff5252; }
  .card-info .error {
    display: none; }
  .card-info .error-num {
    display: none; }
  .card-info .error-mm-yy {
    display: none; }
  .card-info .error-CVC {
    display: none; }

.success-page h1 {
  color: #21092f;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 0.3rem; }

.success-page p {
  color: #8e8593;
  font-weight: bold;
  font-size: 2rem;
  text-align: center; }

@media (max-width: 425px) {
  .card-image__front .card-details h2 {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1rem;
    color: white;
    margin-bottom: 1.5rem; }
  .card-image__back p {
    margin: 0 auto;
    margin-right: 6rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white; } }

.u-margin-bottom-big {
  margin-bottom: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.btn {
  width: 100%;
  height: 7vh; }
  .btn button {
    width: 100%;
    height: 100%;
    background-color: #21092f;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    font-family: "Red Hat Display", sans-serif; }

.btn--animation {
  animation: moveInBottom 2s ease-in-out; }

.row {
  max-width: 100rem;
  margin: 5rem auto; }
  .row ::after {
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 2rem; }

.card-image {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 2rem; }
  .card-image__front .card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem; }
    .card-image__front .card-details__info .card-user {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
  .card-image__back p {
    display: flex;
    align-items: center;
    justify-content: flex-end; }

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 3rem; }
  .card-info .card {
    display: flex;
    flex-direction: column;
    width: 90%; }
  .card-info .card-date-cvc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%; }
    .card-info .card-date-cvc .card-date {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .card-info .card-date-cvc .card-date .year-month {
        display: flex;
        flex-direction: row; }
        .card-info .card-date-cvc .card-date .year-month .MM {
          width: 45%;
          margin-right: 0.5rem; }
        .card-info .card-date-cvc .card-date .year-month .YY {
          width: 45%; }
    .card-info .card-date-cvc .cvc {
      width: 50%;
      margin-left: 1.5rem; }

.flex-wrap {
  margin-top: 6rem; }

.success-page {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 20vh;
  margin: 0 auto;
  padding: 2rem 2rem; }

@media (max-width: 425px) {
  .row {
    margin: 5rem auto; }
    .row .col-1-of-2 {
      width: 100%;
      height: 100%;
      float: left;
      margin-bottom: 0rem; }
  .card-info {
    width: 90%;
    padding: 1rem 0rem; }
  .card-image {
    grid-gap: 0rem; }
    .card-image__front {
      grid-row: 2 / 4; } }

body {
  background-color: whitesmoke;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: contain; }

main {
  height: 100vh; }

.card-image {
  position: relative; }
  .card-image__front {
    position: relative;
    margin: 0 auto;
    margin-left: -3rem;
    box-shadow: 0 1.5rem 4rem rgba(142, 133, 147, 0.15); }
    .card-image__front .card-details {
      position: absolute;
      top: 0rem;
      height: 100%;
      width: 100%; }
      .card-image__front .card-details__info h2 {
        letter-spacing: 0.4rem; }
  .card-image__back {
    position: relative;
    box-shadow: 0 1.5rem 4rem rgba(142, 133, 147, 0.15);
    margin: 0 auto;
    margin-right: -3rem; }
    .card-image__back p {
      position: absolute;
      top: 0rem;
      padding-right: 6rem;
      height: 100%;
      width: 100%; }

.slide--in__front {
  animation: moveInLeft 2s ease-in-out; }

.slide--in__back {
  animation: moveInRight 2s ease-in-out; }

@media (max-width: 425px) {
  body {
    background-image: url(../images/bg-main-mobile.png);
    background-position: top 0rem;
    background-size: contain;
    background-repeat: no-repeat; }
  .card-image {
    margin: 2rem 2rem; }
    .card-image__front {
      width: 90%;
      margin-left: 0rem;
      margin-top: -7rem;
      z-index: 1000; }
      .card-image__front img {
        width: 100%; }
      .card-image__front .card-details .card-logo {
        width: 30%; }
    .card-image__back {
      width: 90%;
      margin-right: 0rem; }
      .card-image__back img {
        width: 100%; } }
