$white-color: hsl(0, 0%, 100%);
$gray-dark: hsl(279, 6%, 55%);
$color-text: hsl(0, 0%, 100%);
$red-input: hsl(0, 100%, 66%);
$button-color: hsl(278, 68%, 11%);
$light-gray: hsl(270, 3%, 87%);

//border-image-source
$border-start: hsl(249, 99%, 64%);
$border-end: hsl(278, 94%, 30%);

$grid-row: 100rem;
$gutter-horizontal: 2rem;
$gutter-horizontal-mobile: 1rem;
