body {
  background-color: whitesmoke;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
}
main {
  height: 100vh;
  // border: 2px solid green;
}
.card-image {
  &__front {
    background-image: url(../images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;

    border: 1px solid green;
  }
  &__back {
    background-image: url(../images/bg-card-back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 425px) {
  body {
    background-image: url(../images/bg-main-mobile.png);
    background-position: top 0rem;
  }
}
