.btn {
  width: 100%;
  height: 7vh;
  //   border: 1px solid green;

  button {
    width: 100%;
    height: 100%;
    background-color: $button-color;
    color: $color-text;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
  }
}
