.card-image {
  &__front {
    .card-details {
      h2 {
        font-size: 2.7rem;
        letter-spacing: 0.2rem;
        color: $color-text;
        margin-bottom: 1.5rem;
      }

      .card-user {
        color: $color-text;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }

  &__back {
    p {
      margin: 0 auto;
      margin-right: 7rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: $color-text;
    }
  }
}

.card-info {
  font-family: "Red Hat Display", sans-serif;
  .text-name {
    color: $button-color;
    font-weight: bold;
  }
  input {
    height: 7vh;
    background-color: whitesmoke;
    width: 100%;
    border: 1px solid $gray-dark;
    border-radius: 0.5rem;
    padding: 1rem 1rem;

    cursor: pointer;
    backface-visibility: hidden;

    &:focus {
      outline: none !important;
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(
        to right,
        $border-start,
        $border-end
      );
      border-radius: 3rem;
    }
  }
  p {
    margin-top: 0.5rem;
    font-weight: bold;
    color: $red-input;
  }
  .error {
    display: none;
  }
  .error-num {
    display: none;
  }
  .error-mm-yy {
    display: none;
  }
  .error-CVC {
    display: none;
  }
}
.success-page {
  h1 {
    color: $button-color;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
  }
  p {
    color: $gray-dark;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .card-image {
    &__front {
      .card-details {
        h2 {
          font-size: 1.4rem;
          font-weight: bold;
          letter-spacing: 1rem;
          color: $color-text;
          margin-bottom: 1.5rem;
        }
      }
    }

    &__back {
      p {
        margin: 0 auto;
        margin-right: 6rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: $color-text;
      }
    }
  }
}
