.row {
  max-width: $grid-row;
  margin: 5rem auto;

  @include clearFix;
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    // background-color: red;
    // min-height: 70vh;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}

.card-image {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 2rem;

  &__front {
    .card-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 2rem 3rem;

      &__info {
        .card-user {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }

  &__back {
    p {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 3rem;

  .card {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .card-date-cvc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;

    .card-date {
      display: flex;
      flex-direction: column;
      width: 50%;

      .year-month {
        display: flex;
        flex-direction: row;

        .MM {
          width: 45%;
          margin-right: 0.5rem;
        }
        .YY {
          width: 45%;
        }
      }
    }
    .cvc {
      width: 50%;
      margin-left: 1.5rem;
    }
  }
}

.flex-wrap {
  margin-top: 6rem;
}
.success-page {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 20vh;
  margin: 0 auto;
  // border: 2px solid black;
  padding: 2rem 2rem;
}
@media (max-width: 425px) {
  .row {
    margin: 5rem auto;
    .col-1-of-2 {
      width: 100%;
      // background-color: red;
      height: 100%;
      float: left;
      margin-bottom: 0rem;
    }
  }
  .card-info {
    width: 90%;
    padding: 1rem 0rem;
  }
  .card-image {
    grid-gap: 0rem;
    &__front {
      grid-row: 2 / 4;
    }
  }
}
